.imgHeader{
width: -webkit-fill-available;
}
.tablaContainer3{
    width: 100%;
    background-image:url('./images/colores2.png');
    height: 478px;
    background-repeat: no-repeat;
    background-position: left;
}

.barraInicio{
    background-image:url('./images/barra.png');
    width: 100%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
}
.rowContainer{
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
    font-size: x-large;
    color: white;
    padding-bottom: 25px;
}
.rowContainerLogos{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.rowContainer span{
    font-weight: 200;
    font-size: 18;
}
.medidaLogos{
    width: 100px;
}

.barraContacto{
    height: 312px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
}
.barraPerfil{
    background-image: url(./images/barraPerfil.png);
    height: 388px;;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
}


@media (max-width: 767.98px) {
    .navbarobs{
        justify-content: center

    }
    .barraContacto{
        background-image: url(./images/barraContato.png);
    }
    .bgFooterMovil{
        background-color: #3D3D3D;
        position: absolute !important;
        bottom: unset !important;
        left: unset !important;
        width: 100% !important;
    }
    .bgFooterMovil p{
        line-height: normal;
    }
    .cardRegistro{
        width: 100%;
        color:#fff;
        text-align: center;
        padding-top: 75px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 10px;
        place-content: center;
    }
  }
  
  @media (min-width: 768px) {
      .navbarobs{
        justify-content: space-between
      }
    .barraContacto{
        background-image: url(./images/barraContato.png);
    }
    .MisionVision{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
    }

    .grid-containerContacto {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .cardRegistro{
        padding-top: 75px;
        width: 50%;
        color:#fff;
        text-align: center;
        margin-left: 400px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
    }
  }

