.detallesPedido{
    background-color: #ECECEC;
    margin-right: 10px;

}
.containerDivs{
    padding-top:20px;
    padding-left: 0px;
    padding-right: 0px;
}
.detallesP{
    margin: 0px;
}
.Qrwidth{
    width: 300px;
}

/* movil */
@media (max-width: 767.98px) {
    .Qrwidth{
        width: 80%;
    }
    

    
}